.AutoExtender
{
	font-family: Verdana;
    font-size: 10pt;
    font-weight: normal;
    border: solid 1px #000000;
    line-height: 20px;
    padding: 2px;
    background-color: White;
}

.AutoExtenderList
{
    cursor: pointer;
    color: Black;
}

.AutoExtenderHighlight
{
    color: White;
    background-color: #006699;
    cursor: pointer;
}