# Add any directories, files, or patterns you don't want to be tracked by version control

*.user
*.suo
*.cache
GITS.Hrms.Library/bin
GITS.Hrms.Library/obj
GITS.Hrms.WebSite/bin
GITS.Hrms.WebSite/obj

