/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height:75%;
}

body {
    color: white;
}

a {
    color: white;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #555;
}
footer a {
    color: black;
}

.sidenav img {
    vertical-align: middle;
}
.mainContent {
    background: #efefef;
    height: 100%;
    overflow: auto;
}
.content {
    background: #0F75BD;
}
#mainContentHeader {
    width: 100%;
    margin: 0 auto;
    background-color: #556b2f;
}
.navbar-collapse {
    padding-right: 0px; 
    padding-left: 0px;
}
#mySidenav {
}
.sidenav {
    height: 100%;
    position: relative;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 24%;
    float: left;
}
.sidenav li{
    width: 100%;
    text-align: left;
}
.sidenav a {
    text-decoration: none;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    vertical-align: middle;
}
.sidenav .selected {
    color: #008000
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .navController {
    width: 100%;
    top: 0;
    position: absolute;
    
}
.sidenav #closebtn {
    font-size: 30px;
    float: right;
    padding-right: 35px;
    cursor: pointer;
}
.sidenav #openNav {
    font-size: 30px;
    cursor: pointer;
}
#mainMenu {
    font-size: 16px;
    width: 50%;
    float: left;
    height: 100%;
    background-color: blue;
    overflow: hidden;
    padding-top: 50px;
}
#subMenu {
    font-size: 12px;
    width: 50%;
    height: 100%;
    float: left;
    background-color: blueviolet;
    overflow: auto;
    padding-top: 50px;
}
#slideDiv {
    font-size: 20px;
    font-size: 20px;
}
#main {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 76%;
    float: right;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: 100%
    }
}
@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}
